<div class="date-picker">
  <div
    class="date-picker-input"
    [class.active]="isDatePickerOpen"
    (click)="toggleDatePicker()"
  >
    <input
      type="text"
      [ngModel]="selectedDate | date : 'dd MMM yyyy'"
      (ngModelChange)="selectDate($event)"
      [name]="fieldProps().name"
      [id]="fieldProps().id"
      [class]="fieldProps().class"
      [formControlName]="controlName()"
      readonly
    />
    <app-icon [iconData]="icons.calender" />
  </div>

  <div class="date-picker-popup" *ngIf="isDatePickerOpen">
    <div class="date-picker-header">
      <app-button type="button" (click)="previousMonth()">
        <app-icon [iconData]="icons.carretLeft" />
      </app-button>
      <span>{{ currentMonth | date : "MMM yyyy" }}</span>
      <app-button type="button" (click)="nextMonth()">
        <app-icon [iconData]="icons.carretRight" />
      </app-button>
    </div>
    <div class="date-picker-grid">
      <span *ngFor="let day of daysOfWeek">{{ day }}</span>
      <button
        type="button"
        *ngFor="let date of calendarDates"
        [class.selected]="isSelectedDate(date)"
        [class.disabled]="isDisabled(date)"
        (click)="selectDate(date)"
      >
        {{ date | date : "d" }}
      </button>
    </div>
  </div>
</div>