@switch (variant()) { @case ('btn_one') {
<button class="button button--one" aria-label="New invoice">
  <app-icon class="button__icon" [iconData]="icons.plus" />
  <app-headline class="button__headline">New <span>Invoice</span></app-headline>
</button>

} @case ('btn_two') {
<button class="button button--two" aria-label="Mark as paid">
  <app-headline class="button__headline">Mark as Paid</app-headline>
</button>
} @case ('btn_three') {
<button class="button button--three" aria-label="Edit invoice">
  <app-headline class="button__headline">Edit</app-headline>
</button>
} @case ('btn_four') {
<button class="button button--four" aria-label="Save as Draft">
  <app-headline class="button__headline">Save as Draft</app-headline>
</button>
} @case ('btn_five') {
<button class="button button--five" aria-label="Delete invoice">
  <app-headline class="button__headline">Delete</app-headline>
</button>
} @case ('btn_six') {
<button class="button button--six" aria-label="Add invoice">
  <app-headline class="button__headline">+ Add New Item</app-headline>
</button>
} }
