.heading__One,
.heading__Two,
.heading__Three {
  font-weight: bold;
}

.heading__One {
  font-size: 3.5rem;
  letter-spacing: -1px;
}

.heading__Two {
  font-size: 2.2rem;
  letter-spacing: -0.63px;
}

.heading__Three {
  font-size: 1.8rem;
  letter-spacing: -0.8px;
}

.heading__default {
  font-size: 1.4rem;
  letter-spacing: -0.25px;
}
