@font-face {
  font-family: "League Spartan";
  src: url("../src/assets/fonts/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --color-primary-blue: #7c5dfa;
  --color-secondary-blue: #9277ff;
  --color-primary-red: #ec5757;
  --color-secondary-red: #ff9797;
  --color-amber: #ff8f00;
  --color-mint-green: #33d69f;
  --color-dark-gray: #1e2139;
  --color-border-gray: #494e6e;
  --color-deep-gray: #252945;
  --color-light-gray: #dfe3fa;
  --color-muted-blue: #888eb0;
  --color-soft-blue: #7e88c3;
  --color-very-dark: #0c0e16;
  --color-steel-gray: #373b53;
  --color-almost-white: #f8f8fb;
  --color-midnight-gray: #141625;
  --color-white: #ffffff;
  --box-shadow-color: #48549f40;
  --color-btn-three:#F9FAFE
  --color-error: #ec5757;
  --color-error-light: #ff9797;

  --color-badge-mint-green: hsla(160, 67%, 52%, 0.057);
  --color-badge-steel-gray: hsla(231, 20%, 27%, 0.057);
  --color-badge-amber: hsla(34, 100%, 50%, 0.057);

  --breakpoint-tablet: 768px;
  --breakpoint-small-desktop: 992px;
  --breakpoint-desktop: 1200px;
  --breakpoint-large-desktop: 1440px;
}

[data-theme="light"] {
  --background-color: var(--color-almost-white);
  --text-color: var(--color-very-dark);
}

[data-theme="dark"] {
  --background-color: var(--color-midnight-gray);
  --text-color: var(--color-white);
}

body {
  background-color: var(--color-almost-white);
  min-height: 100dvh;
}

.sidebar__logo-img img{
  width: 6.5rem ;
  height: 6.5rem ;
}

@media screen and (min-width: 768px) {
  .sidebar__logo-img img{
  width: auto;
  height: auto ;
}}