.unauthorized-container {
  display: grid;
  place-items: center;
  margin-top: 10rem;
  padding: 0 1rem;
}

.unauthorized-container h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-muted-blue);
}

.unauthorized-container p {
  font-size: 2rem;
  margin-block: 1rem;
}


.go-home-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background-color: var(--color-primary-blue);
  border-radius: 0.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.go-home-btn:hover {
  background-color: var(--color-secondary-blue);
}
