.sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  background-color: var(--color-steel-gray);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.sidebar__theme {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
  margin-right: 2rem;
}

.sidebar__theme-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  border-right: 2px solid var(--color-border-gray);
}

@media screen and (min-width: 992px) {
  .sidebar {
    position: fixed;
    display: flex;
    top: 0;
    left: auto;
    right: auto;
    width: auto;
    z-index: 100;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    min-height: 100%;
  }

  .sidebar__theme {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .sidebar__theme-icon-container {
    height: auto;
    display: block;
    width: 100%;
    padding-right: 0;
    border-bottom: 2px solid var(--color-border-gray);
    border-right: 0;
    padding-bottom: 3rem;
  }
}
